.row {
    margin-top: 13%;
    margin-left: 25%;
    font-size: 15pt;
}

.row input {
    margin-top: 15px;
}

#stRate {
    margin-right: 40px;
    margin-left: -40px;
}

body {
    background-color: #1F1F1F;
    color: #ffffff;
}

@keyframes rotate {
    100% {
        transform: rotateX(360deg) rotateY(360deg);
    }
}