.side,
.container, .containerTwo  {
    font-size: 15pt;
    width: 10em;
    height: 10em;
}

.container, .containerTwo {
    position: absolute;
    left: 25%;
    top: 35%;
    transform-style: preserve-3d;
    animation: rotate 10s infinite linear;
}
.container{
    left: 20%;
    top: 40%;
}

.containerTwo{
    left: 70%;
    top: 40%;
}

.side {
    position: absolute;
    width: 4em;
    height: 4em;
    border-radius: 10px;
    border: solid 3px #eeeeee;
    transform-style: preserve-3d;
}
.side:before {
    content: "";
    display: block;
    position: absolute;
    width: 7em;
    height: 7em;
    transform: translateZ(2em) rotateZ(45deg);

}
.back {
    transform: translateZ(-2em) rotateY(180deg);
    background: #FFFFFF;
}
.left {
    transform: translateX(-2em) rotateY(-90deg);
    background: #FFFFFF;
}
.right {
    transform: translateX(2em) rotateY(90deg);
    background: #FFFFFF;
}
.top {
    transform: translateY(-2em) rotateX(90deg);
    background: #FFFFFF;
}
.bottom {
    transform: translateY(2em) rotateX(-90deg);
    background: #FFFFFF;
}
.front {
    transform: translateZ(2em);
    background: #FFFFFF;
}

.dot {
    position:absolute;
    width: 14px;
    height: 14px;
    border-radius: 23px;
    background: #FF0000;
    box-shadow: inset 3px 0 10px #000000;
}
.dot.center {
    margin-top: 41%;
    margin-left: 41%;
}
.dot.dtop {
    margin-top: 7%;
}
.dot.dleft {
    margin-left: 7%;
}
.dot.dright {
    margin-left: 75%;
}
.dot.dbottom {
    margin-top: 75%;
}


@keyframes rotate {
    100% {
        transform: rotateX(360deg) rotateY(-360deg) rotateZ(360deg);
    }
}