#footer {
    color: #cacaca;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 5px;
    width: 100%;
    letter-spacing: 2px;
    font-size: 13pt;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #E74C3C;
}