body {
    background-color: #1F1F1F;
}

#welcome {
    margin-top: 10%;
    margin-left: 37%;
    font-size: 25pt;
    color: crimson;
    letter-spacing: 3px;
}

#showStatistic {
    margin-left: 46%;
    margin-top: 10px;
}

#rules {
    margin: 30px 30% 0 35% !important;
    font-size: 14pt !important;
    color: sienna !important;
}

@keyframes rotate {
    100% {
        transform: rotateX(360deg) rotateY(-360deg);
    }
}