.hideBlock {
    display: none !important;
}

.active {
    display: block;
}

body {
    background: url(../../img/background/moreFon.jpg) no-repeat;
    background-size: contain;
}

h1 {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    color: #E74C3C;
}

.gameMenu {
    text-align: center;
    margin-top: 20px;
}

input[type=radio] {
    display: none;
}

.possibleGame {
    background-color: rgba(15, 0, 44, 0.1); /*rgba(44, 48, 55, .5);*/
}

#inputRate {
    border: 1px solid #aaa;
    box-shadow: 0 0 3px #ccc, 0 10px 15px #eee inset;
    border-radius: 2px;
}

#rateOption label {
    padding-right: 15px;
    font-size: 20pt;
    color: #E74C3C;
}

#rateOption input {
    width: 100px;
}

#rateOption, #selectGameType, #multiuserTypeOption {
    padding: 10px;
}

#rollButton {
    margin-left: 10%;
}

.table {
    text-align: center;
}

#dice, #gameResult {
    text-align: center;
}

span {
    font-size: 20pt;
}

#errorMessage {
    text-align: center;
}

@media only screen and (max-width: 900px) {
    body {
        background: rgba(0, 0, 0, 0);
    }
}